#mainInput{
    border: none;
    border-bottom: 2px solid black;
    background-color: rgb(12, 177, 177);
    color: black;
 }

 #mainInput::placeholder { 
    color: black;
    opacity: 1; 
  }

 #mainInput:focus{    
    opacity: 1; 
    outline: none;
  }

  .lname{
     border: 4px solid rgb(12, 177, 177);
    font-family: 'Roboto', sans-serif;
    background-color: rgb(12, 177, 177);
    min-height: 100px;
    width: 100%;
  }

  .autocomplete{
     display: none;
     border: 1px  solid black;
     background-color: white;
     position: absolute;   
     width: 40%;
     height: auto;
     margin-top: -3%;  
     z-index: 999;
  }

  .autocomplete-item{
      text-align: center;
      padding: 4px;
  }

  .autocomplete-item:hover{
    cursor: pointer;
    background-color:  rgb(12, 177, 177);   
  } 

 .ophr{
    width: 100%;
    margin: 0;  
 }

 .title{
   font-size: 1.1em;
 }

 .title:hover{
    color: rgb(12, 177, 177);
       
 }

 .card{
    border: none !important;
 }
  
  
